.container__main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px 0;
}
.main-modified {
  flex: 0 0 40%;
}
.main__text {
  line-height: 1.5;
  font-size: 20px;
}
.main__pictures {
}
.main__images {
  border-radius: 5px;
}
.list__title {
  text-align: center;
  font-size: 40px;
}


/* Стили слайдера */
.swiper {
  width: 60%;
  height: 100%;
}
.list-swiper__wrapper {
  text-align: center;
}
