<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
  </head>

  <body>
    <div>
      <div data-component="page">
        <div class="container">
          <h1>My Page</h1>
          <p>This is my page content.</p>


            <!-- search container -->
          <div class="search-container">
            <div class="search-element">
              <h3 class="search-title">Search Heroes: </h3>
              <input type="text" class="search-heroes" placeholder="Введите имя героя ...">

              <div class="search-list hide-search-list">
                <!-- Список героев -->
                <div class="search-list-item ">
                  <!-- <div class="search-item-thumbnail">
                    <img src="<%= require('/src/assets/images/search-heroes.jpg') %>" alt="">
                  </div>
                  <div class="search-item-info">
                    <h3>Batman</h3>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
            <!-- end search container -->



            <div class="detailed-container">
              <div class="detailed-element">

                <div class="detailed-info">
                  <!-- <div class="info__title"><b>Name: </b>Batman</div> -->
                  <img src="<%= require('/src/assets/images/search-heroes.jpg') %>" alt="" class="detailed__image">
                </div>

                <div class="detailed-item">
                  <div class="detailed-description">
                    <div class="tab" data-tab="powerstats">
                      <h3 class="description-title">Powerstats</h3>
                    </div>
                    <div class="tab" data-tab="biography">
                      <h3 class="description-title">Biography</h3>
                    </div>
                    <div class="tab" data-tab="appearance">
                      <h3 class="description-title">Appearance</h3>
                    </div>
                  </div>

                  <div class="detailed-list">
                    <ul class="detailed-powerstats detailed-menu " data-tab-content="powerstats">
                      <li class="detailed-menu-item"><b>intelligence: </b>81</li>
                      <li class="detailed-menu-item"><b>strength: </b>40</li>
                      <li class="detailed-menu-item"><b>speed: </b>29</li>
                      <li class="detailed-menu-item"><b>durability: </b>55</li>
                      <li class="detailed-menu-item"><b>power: </b>63</li>
                      <li class="detailed-menu-item"><b>combat: </b>90</li>
                    </ul>
                    <ul class="detailed-biography detailed-menu " data-tab-content="biography">
                      <!-- Biography content goes here -->
                      <p>biography</p>
                    </ul>
                    <ul class="detailed-appearance detailed-menu" data-tab-content="appearance">
                      <!-- Appearance content goes here -->
                      <p>appearance</p>
                    </ul>
                  </div>
                </div>

              </div>
            </div>

<!--
             <div class="detailed__list">
              <h3>Biography</h3>
              <ul class="detailed__biography detailed-item">
                <li><b>full-name: </b>Terry McGinnis</li>
                <li><b>place-of-birth: </b>Gotham City, 25th Century</li>
                <li><b>first-appearance: </b>Batman Beyond #1</li>
                <li><b>publisher: </b>DC Comics</li>
              </ul>

             </div>

              <div class="detailed__list">
                <h3>Appearance</h3>
                <ul class="detailed__appearance detailed-item">
                  <li><b>gender: </b>Male</li>
                  <li><b>race: </b>Human</li>
                  <li><b>height: </b>178 cm</li>
                  <li><b>weight: </b>77 kg</li>
                  <li><b>eye-color: </b>Blue</li>
                  <li><b>hair-color: </b>Black</li>
                </ul>
              </div> -->

             </div>
          </div>

      </div>
    </div>

  </body>
</html>
