@import 'reset.css';

@font-face {
	font-family: 'Unbounded';
	src: url('../public/fonts/LuckiestGuy-Regular.ttf') format('truetype');
}

body {
	font-family: 'Unbounded', cursive;
	background-color: rgb(30 30 30);
	color: #fff;
	font-size: 25px;
}

.header {
	height: 100vh;
	background: url('../../public/images/backgroind-header.jpg') 100% 35% / cover no-repeat;
}

.container {
	max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu {
	display: flex;
	justify-content: space-between;
  padding: 10px 0;
}
.header__logo {
}
.logo {
}
.menu__nav {
}
.menu__list {
	display: flex;
	gap: 40px;
}
.menu__item {
	background: linear-gradient(
    to right,
		rgb(138, 29, 29),
		rgb(173, 49, 49) 50%,
		rgb(255, 255, 255) 50%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
}

.menu__item:hover {
	background-position: 0 100%;
}

/* .menu__list {
  color: white;
  background: linear-gradient(90deg, #e933ff, #ffb400, #ff3333, #334dff, #e933ff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0% center;
  transition: background-position 0.5s ease;
}

.menu__list:hover {
  color: transparent;
  animation: textflow 3s linear infinite;
}

@keyframes textflow {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: 200% center;
    color: #fff;
  }
} */



/* main */
.main {
	background-color: rgb(47, 51, 54);
}
.character__information {
	display: flex;

	gap: 20px;
}
.character__image {
	flex: 0 0 40%;
}
.spoiler {
	display: flex;
	flex-direction: column;
	flex: 0 0 70%;
}
.character-description__spoiler {
	width: 100%;
	border: 2px solid #fff;
	position: relative;
}
.spoiler__actions {

}

.spoiler__header {
	cursor: pointer;
}
.spoiler__btn {

}


.spoiler__content {
	display: none;

}
.visible {
	display: block;

}
/* /main */